Repository heroku/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heroku/cli, @heroku/dod-ux, @heroku/lifecycle, @heroku/runtime-cli-owners

.github/CODEOWNERS:

* @heroku/cli
/packages/pg-v5/ @heroku/dod-ux
/packages/pipelines-v5/ @heroku/lifecycle
/packages/ci-v5/ @heroku/lifecycle
/packages/redis-v5/ @heroku/dod-ux
/packages/container-registry-v5/ @heroku/lifecycle
/packages/spaces/ @heroku/runtime-cli-owners

allow fetching postgres bastion keys via data api
  packages/pg-v5/lib/bastion.js
  packages/pg-v5/lib/fetcher.js
  packages/pg-v5/lib/util.js
  packages/pg-v5/test/lib/fetcher.js
Owners: @heroku/dod-ux

feat(apps): support creating an app with initial features (#1040)
  packages/apps-v5/src/commands/apps/create.js
  packages/apps-v5/test/commands/apps/create.js
Owners: @heroku/cli

feat: node 10.12.0
  packages/cli/package.json
Owners: @heroku/cli

v7.17.0
  CHANGELOG.md
  lerna.json
  packages/apps-v5/CHANGELOG.md
  packages/apps-v5/README.md
  packages/apps-v5/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @heroku/cli

fix(container): handle missing docker install
  packages/container-registry-v5/commands/login.js
  packages/container-registry-v5/lib/sanbashi.js
Owners: @heroku/lifecycle
